.DeleteList-Div {
	background-color: #fff;
	top: 30%;
	left: 30%;
	position: absolute;
	padding: 1rem;
	border-radius: 1rem;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 0 5px rgb(0, 0, 0, 0.2), 0px 2px 5px rgb(0, 0, 0, 0.2),
		-2px 0px 5px rgb(0, 0, 0, 0.2), 0px -2px 5px rgb(0, 0, 0, 0.2);
	z-index: 1000;
}

.DeleteList-AlertText-Div {
	text-align: center;
	width: 100%;
	padding-bottom: 2rem;
}

.DeleteList-AlertText {
	padding-bottom: 0.5rem;
}
.DeleteList-ListName-Span {
	color: rgb(252, 98, 98);
}

.DeleteList-Buttons {
	width: 50%;
	display: flex;
	justify-content: space-between;
}
.DeleteList-Delete-Button,
.DeleteList-Cancel-Button {
	outline: none;
	border: none;
	cursor: pointer;
	margin-bottom: 1rem;
	border-radius: 1rem;
	padding: 0.5rem;
	font-weight: 400;
}

.DeleteList-Delete-Button {
	background-color: rgba(231, 131, 131, 0.589);
}
