.DeleteList-Div {
	background-color: var(--delete-list-delete-message);
	top: 30%;
	left: 30%;
	position: absolute;
	padding: 1rem;
	border-radius: 1rem;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 0 5px rgb(0, 0, 0, 0.2), 0px 2px 5px rgb(0, 0, 0, 0.2),
		-2px 0px 5px rgb(0, 0, 0, 0.2), 0px -2px 5px rgb(0, 0, 0, 0.2);
	z-index: 1000;
}

.DeleteList-AlertText-Div {
	text-align: center;
	width: 100%;
	padding-bottom: 2rem;
}

.DeleteList-AlertText {
	padding-bottom: 0.5rem;
	color: var(--text-color);
}
.DeleteList-ListName-Span {
	color: rgb(252, 98, 98);
}

.DeleteList-Buttons {
	width: 60%;
	display: flex;
	justify-content: space-between;
}
.DeleteList-Delete-Button,
.DeleteList-Cancel-Button {
	outline: none;
	border: none;
	cursor: pointer;
	margin-bottom: 1rem;
	border-radius: 1rem;
	padding: 0.5rem;
	font-weight: 400;
}

.DeleteList-Delete-Button {
	background-color: rgba(231, 131, 131, 0.589);
}
.DeleteList-Cancel-Button {
	background-color: rgba(231, 131, 131, 0.589);
}

@media only screen and (max-width: 600px) {
	.DeleteList-Div {
		background-color: var(--delete-list-delete-message);
		top: 20%;
		left: 10%;
		width: 70vw;
	}

	.DeleteList-Delete-Button,
	.DeleteList-Cancel-Button {
		color: var(--text-color);
		font-weight: 800;
		font-size: 16px;
	}
}
