.Container-Div {
	top: 0;
	left: 0;
	padding-top: 100px;
	width: 100%;
	height: 70vh;
	display: flex;
	overflow: hidden;
}
.Container-DeleteList-Overlay {
	z-index: 999;
	background-color: var(--delete-list-overlay);
	opacity: 0.2;
	content: '';
	position: absolute;
	top: -3%;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.Container-Lists {
	margin: 1rem;
	padding: 2rem 1rem 0;
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
	flex-wrap: wrap;
	overflow: auto;
}

.Container-Lists-Column {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Container-Buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 200px;
}
