.Container-Div {
	top: 0;
	left: 0;
	padding-top: 100px;
	width: 100%;
	height: 80vh;
	display: flex;
	overflow: hidden;
}

.Container-DeleteList-Overlay {
	z-index: 999;
	background-color: var(--delete-list-overlay);
	opacity: 0.2;
	content: '';
	position: absolute;
	top: -3%;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.Container-Lists {
	padding: 2rem 1rem 0;
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	flex-wrap: wrap;
	overflow: auto;
}

.Container-Lists-Column {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}

.Container-Buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 200px;
}

@media only screen and (max-width: 600px) {
	.Container-Buttons {
		order: 1;
		height: 100px;
	}
	.Container-Div {
		box-sizing: border-box;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		overflow: visible;
		min-height: fit-content;
	}

	.Container-Lists {
		order: 2;
		min-height: fit-content;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		overflow: visible;
	}
}
