@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	padding: 0;
	margin: 0;
	font-family: Poppins sans-serif;
	--gray-color: rgb(241, 243, 244);
	--light-white-color: rgb(255, 255, 255, 0.05);
	--white-color: #fff;
	--black-color: #000;
	--dark-color: rgb(31, 32, 36);
	--light-gray-color: rgb(229, 226, 226);
}
.AppContainer {
	width: 100%;
	min-height: max-content;
	overflow: visible;
}

.AppContainer[data-theme='light'] {
	background-color: var(--white-color);
	--nav-background-color: var(--white-color);
	--header-nav-bar-shadow: var(--dark-color);
	--delete-list-overlay: rgb(144, 147, 148);
	--header-user-name: var(--black-color);
	--header-search-input: var(--gray-color);
	--header-search-input-hover: var(--white-color);
	--header-search-input-shadow: var(--gray-color);
	--header-search-fa-search: gray;
	--header-hovered-message: var(--gray-color);
	--header-button: var(--black-color);
	--list-background-color: var(--white-color);
	--Task-hover: var(--gray-color);
	--text-color: var(--black-color);
	--text-color-inverse: var(--black-color);
	--addListButton-background-color: var(--light-gray-color);
	--footer-linkedIn-logo-color: #0a66c2;
	--footer-github-logo-color: #000;
	--delete-list-delete-message: var(--white-color);
	--theme-button-background: #000;
	--theme-button-background-inverse: #fff;
	--theme-button-ball: #000;
	--theme-button-ball-inverse: #fff;
}

.AppContainer[data-theme='dark'] {
	background-color: var(--dark-color);
	--nav-background-color: var(--dark-color);
	--header-nav-bar-shadow: var(--white-color);
	--delete-list-overlay: var(--light-gray-color);
	--header-user-name: var(--white-color);
	--header-search-input: var(--light-gray-color);
	--header-search-input-shadow: var(--dark-color);
	--header-search-input-hover: var(--light-gray-color);
	--header-search-fa-search: var(--white-color);
	--header-hovered-message: var(--white-color);
	--header-button: var(--white-color);
	--list-background-color: rgb(41, 42, 47);
	--Task-hover: var(--light-white-color);
	--text-color: var(--white-color);
	--text-color-inverse: var(--white-color);
	--addListButton-background-color: var(--white-color);
	--footer-linkedIn-logo-color: #0a66c2;
	--footer-github-logo-color: #f0f6fc;
	--delete-list-delete-message: rgb(52, 53, 57);
	--theme-button-background: #000;
	--theme-button-background-inverse: #fff;
	--theme-button-ball: #000;
	--theme-button-ball-inverse: #fff;
}
